<p>
  <strong>Commenter:</strong>
  <%= comment.admin.full_name %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if current_admin.role == 'super' %>
	<p>
		<%= link_to 'Destroy comment', [comment.article, comment], method: :delete, data: {confirm: "Are you sure?"} %>
	</p>
	
<% end %>
