<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= hidden_field_tag('comment[admin_id]', current_admin.id) %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>