<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= articles_path %>">Articles</a></li>
      <% if action_name == 'edit' %>
        <li class="breadcrumb-item active" aria-current="page">Edit article</li>
        
      <% else %>
        <li class="breadcrumb-item active" aria-current="page">New article</li>
      <% end %>

      
    </ol>
  </nav>
  
  <div class="col-md-12">

    <% if @article.cover.attached? %>
      <p>
        <%= image_tag @article.cover, width: 200 %>
      </p>
    <% end %>
    
  </div>
  
  <%= form_with model: @article, url: url, local: true do |f| %>
    
    <% if @article.errors.any? %>
      <div id="error_explanation">
        <p>
          <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:
        </p>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %> 
        </ul>
      </div>
      
    <% end %>
      
      <div class="form-group">
        <%= f.file_field :cover, accept: "image/*", direct_upload: true %>
      </div>
      
      <div class="form-group">
        <%= f.label :published %>
        <%= f.check_box :published %>
      </div>
      

      <div class="form-group">
        <%= f.label :publication_day %>
        <%= f.datetime_local_field :publication_day, class: 'form-control', required: true %>
      </div>

      <br>
      <div class="form-group">
        <%= f.label :category %>
        <%= f.select :category, options_for_select(Article::Categories), {}, {class: "select_1"} %>
      </div>
     
      <div class="form-group">
        <%= f.label :tags %>
        <%= f.collection_select :tags, Tag.all, :name, :name, {}, {class: "select_2", multiple: true} %>  
      </div>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :short_desc, "Short intro to the article (20-50 characters)" %>
        <%= f.text_field :short_desc, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :text, "Text (you can use Markdown)" %>
        <%= f.text_area :text, class: "form-control", rows: 30 %>
      </div>
    

        <%= f.submit "Save", class: "btn btn-primary btn-round" %>

    <p>
    </p>
  <% end %>

</div>
       

<script type="text/javascript">

  new SlimSelect({
    select: '.select_1'
  })

  new SlimSelect({
    select: '.select_2'
  })

</script>
