<% @title = "Articles" %>

<%= render 'action_bar' %>

<div class="container">

	<nav class="index_nav navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample09" style="">
      <ul class="navbar-nav mr-auto">
       
        <li class="nav-item">
          <a class="nav-link" href="<%= new_article_path %>">
						<i class="fas fa-plus"></i>
	          New article
        	</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= articles_path %>">
						<i class="fas fa-eraser"></i>

	          Reset search
        	</a>
        </li>
        

      </ul>
     
      <%= search_form_for @q, class: "form-inline" do |f| %>
					<div class="input-group">
				  	<%= f.search_field :title_or_admin_full_name_cont, placeholder: "Search title or author", class: 'form-control' %>

						<div class="input-group-append">
					    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
					    	<i class="fas fa-search"></i>
					    </button>
					  </div>
					</div>	

			<% end %>
    </div>
  </nav>


  <div class="articles_index my-3 p-3 bg-white rounded shadow-sm">

  	<% @articles.each do |a| %>
	    <div class="media text-muted pt-3">
	      <div class="article_img mr-2" style="background: <%= a.color %>"></div>
	      <p class="media-body pb-3 mb-0 small lh-125 m border-gray">
	      	<b class="title"><%= a.title %></b> 
	        <b class="text-gray-dark"><%= a.admin.full_name %></b> <br>
	        <%= truncate(a.short_desc, length: 50) %><br>
	        <b>Views: </b><%= a.views %><br>
	        <b>Category: </b><%= a.category.humanize %><br>
	        <b>Creation: </b><%= a.created_at.strftime('%m-%d-%Y %I:%M %p') %><br>
	        <b>Publication: </b><%= a.publication_day.strftime('%m-%d-%Y %I:%M %p') %>
	      </p>
	      <% if a.published %>
					<i class="fas fa-check" style="color: green" data-toggle="tooltip" data-placement="top" title="Published"></i>
					<a href="<%= show_article_path(a) %>" data-toggle="tooltip" data-placement="top" title="See at front">
						<i class="fas fa-share"></i>
					</a>
				<% else %>
					<i class="fas fa-exclamation-triangle" style="color: orange" data-toggle="tooltip" data-placement="top" title="Unpublished"></i>
				<% end %>
					
				<a href="<%= article_path(a) %>" data-toggle="tooltip" data-placement="top" title="Preview">
					<i class="fas fa-eye"></i>
				</a>

					<% if (current_admin.id == a.admin_id) or (current_admin.role == 'admin') or (current_admin.role == 'super')  %>
						<a href="<%= edit_article_path(a) %>" data-toggle="tooltip" data-placement="top" title="Edit">
							<i class="far fa-edit"></i></a>
					<% end %>

					<% if current_admin.role == 'super' or current_admin.role == 'admin' %>
						<%= link_to article_path(a), method: :delete, data: {confirm: 'Are you sure?'} do %>
							<i class="far fa-trash-alt" style="color: red"></i>
						<% end %>
							
					<% end %>

	    </div>
  		
  	<% end %>

    
  </div>	


	<%= pagy_nav_bootstrap(@pagy).html_safe %>

</div>
