<% @title = "See article" %>
<%= render 'action_bar' %>

<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="<%= articles_path %>">Articles</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Show article</li>
	    <li class="breadcrumb-item active"><a href="<%= edit_article_path(@article) %>">Edit article</a></li>
	  </ol>
	</nav>
	
	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="admin_show_article">
						<% if @article.cover.attached? %>
							<p>
								<%= image_tag @article.cover %>
							</p>
						<% end %>
						<p>
							<b>Author:</b>
							<%= @article.admin.full_name %>
						</p>

						<p>
							<b>Title:</b> 
							<%= @article.title %>
						</p>

						<p>
							<b>Tags: </b>
							<% @article.tags.each do |tag| %>
								<span class="badge badge-warning"><%= tag.name %></span>
							<% end %>
						</p>

						<% if @article.short_desc.size > 0 %>
							<p>
								<b>Short intro: </b>
								<%= @article.short_desc %>
							</p>
							
						<% end %>
						


						<%= @article.text_compiled.html_safe %>
						<br>

						<h3>Comments</h3>
						<%= render @article.comments %>

						<h3>Add a comment:</h3>
						<%= render 'comments/form' %>
						
					</div>
						

					
				</div>
				
			</div>
		</div>
		
	</div>
</div>