<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<%= editors_path %>">Editors</a></li>
      <% if action_name == 'edit' %>
        <li class="breadcrumb-item active" aria-current="page">Edit editor</li>
        
      <% else %>
        <li class="breadcrumb-item active" aria-current="page">New editor</li>
      <% end %>

      
    </ol>
  </nav>
  
  
  <%= form_with model: @user, url: url, local: true do |f| %>
    
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <p>
          <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
        </p>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %> 
        </ul>
      </div>
      
    <% end %>
   
     <% unless current_admin.role == 'super' %>
      <div class="form-group">
        <%= f.label :role %>
        <%= f.select :role, options_for_select(Admin::Roles), {}, {class: "select_1"} %>
      </div>
       
     <% end %>
     


      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :full_name %>
            <%= f.text_field :full_name, class: "form-control" %>
          </div>
          
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :username %>
            <%= f.text_field :username, class: "form-control" %>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :p_twitter, "Twitter profile" %>
            <%= f.text_field :p_twitter, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :p_instagram, "Instagram profile" %>
            <%= f.text_field :p_instagram, class: "form-control" %>
          </div>
          
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          
        </div>
        <% if action_name == 'new' %>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
          </div>
        <% else %>
          <div class="col-md-6">
            <div class="form-group" id="edit_password">
              <span id="link_edit_pass" class="link">Edit password</span>
            </div>
          </div>
        <% end %>
        
      </div>


      
    

        <%= f.submit "Save", class: "btn btn-primary btn-round" %>

    <p>
    </p>
  <% end %>

</div>
       

<script type="text/javascript">

  new SlimSelect({
    select: '.select_1'
  })

 

</script>
