<% @title = "Editors" %>

<%= render 'action_bar' %>


<div class="container">

	<nav class="index_nav navbar navbar-expand-lg navbar-light bg-light rounded">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample09" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= editor_new_path %>">
						<i class="fas fa-plus"></i>
	          New editor
        	</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= editors_path %>">
						<i class="fas fa-eraser"></i>
	          Reset search
        	</a>
        </li>
        

      </ul>
     
      <%= search_form_for @q, url: editors_path,class: "form-inline" do |f| %>
					<div class="input-group">
				  	<%= f.search_field :full_name_or_username_or_email_cont, placeholder: "Search title or author", class: 'form-control' %>

						<div class="input-group-append">
					    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
					    	<i class="fas fa-search"></i>
					    </button>
					  </div>
					</div>	

			<% end %>
    </div>
  </nav>


  <div class="articles_index my-3 p-3 bg-white rounded shadow-sm">

  	<% @users.each do |u| %>
	    <div class="media text-muted pt-3">
	      <%= image_tag 'man.svg', size: '37' %>
	      <p class="media-body pb-3 mb-0 small lh-125 m border-gray">
	      	<b class="title"><%= u.full_name %></b> 
	        <b class="text-gray-dark"><%= u.email %></b> <br>
	        <b>Username: </b><%= u.username %><br>
	        <b>Role: </b><%= u.role %><br>
	        <b>Twitter: </b><%= u.p_twitter %><br>
	        <b>Instagram </b><%= u.p_instagram %>
	      </p>
	      
					
			

				<% if (current_admin.id == u.id) or (current_admin.role == 'super') or (current_admin.role == 'admin') %>
					<a href="<%= editor_edit_path(u) %>" data-toggle="tooltip" data-placement="top" title="Edit">
						<i class="far fa-edit"></i>
					</a>
				<% end %>

				<% if current_admin.role == 'super' or current_admin.role == 'admin' %>
					<%= link_to destroy_editor_path(id: u.id), method: :delete, data: {confirm: 'Are you sure?'} do %>
						<i class="far fa-trash-alt" style="color: red"></i>
					<% end %>
						
				<% end %>

	    </div>
  		
  	<% end %>

    
  </div>	


	<%= pagy_nav_bootstrap(@pagy).html_safe %>

</div>