<% @title = "Panel de control" %>

<%= render 'action_bar' %>

<div class="container">
	
	<div class="panel_box">
		<h5 class="title">Articulos publicados</h5>
		<span class="number"><%= @posts %></span>
	</div>
	
	<div class="panel_box">
		<h5 class="title">Usuarios activos por dia</h5>
		<span class="number">88,000</span>
	</div>
</div>






