
<div class="action-bar">
	<div class="title" id="menu_btn">
		<% if admin_signed_in? %>
			<i class="fas fa-ellipsis-h fa-lg"></i>
			
		<% else %>
			<i class=""></i>
		<% end %>
		
		<a href="<%= root_path %>">
			<%= image_tag 'bits_soup.svg' %>
		</a>
	</div>
	<div class="icons search_form_front">
		<%= search_form_for @q, url: root_path do |f| %>
  		<%= f.search_field :title_or_short_desc_cont, class: '' %>

		<% end %>
	</div>
</div>
