<div class="side-nav">
	<header>
		<div class="avatars-container">
				<img src="https://img.buzzfeed.com/buzzfeed-static/static/2015-12/12/17/user_images/webdr10/mattortile-v2-24953-1449958659-0_large.jpg?downsize=715:*&output-format=auto&output-quality=auto" width=70 height=70/>
		</div>
		<div class="rich-area">
			<a href="#!"><%= current_admin.full_name %></a>

			<div class="email">
				<a href="#!"><%= current_admin.email %></a>
			</div> 
		</div>
	</header>
	<nav>
		<ul>
			<% if current_admin.role == 'super' or current_admin.role == 'admin' %>
				<li>
					<a href="<%= admin_home_path %>">
						<i class="fas fa-tachometer-alt fa-lg"></i>
						Panel
					</a>
				</li>
			<% end %>
			
			<li>
				<a href="<%= articles_path %>">
					<i class="fas fa-newspaper fa-lg"></i>
					Articles
				</a>
			</li>
			<% if current_admin.role == 'super' or current_admin.role == 'admin' %>
				<li>
					<a href="<%= editors_path %>">
						<i class="fas fa-users fa-lg"></i>
						Editors
					</a>
				</li>
			<% end %>
			

			<hr>
			<li id='subheader'>Options</li>
			<% if current_admin.role == 'super' %>
				<li>
					<a href="<%= edit_settings_path %>">
							<i class="fas fa-cog"></i>
							Options
					</a>
				</li>
				
			<% end %>
			
			<li>
				<a href="<%= root_path %>">
						<i class="fas fa-store"></i> Go to front
				</a>
			</li>
			<li>
				<%= link_to destroy_admin_session_path, method: :delete do %>
					<i class="fas fa-sign-out-alt"></i> Log out
				<% end %>
			</li>

			
		</ul>
	</nav>
</div>