<% @articles.each_with_index do |article, index| %>

	<% if @ar.first.id == article.id %>
		<a href="<%= show_article_path(article) %>" style="text-decoration: none;">
			<div class="wrapper_100" style="background: url(<%= article.cover.attached?? url_for(article.cover) : asset_url('featured.jpg') %>) no-repeat; background-repeat: no-repeat;
  background-size: cover; background-position: top">
  			<div class="title_wraper">
					<h1><%= truncate article.title, length: 40 %></h1>
					<p>By: <%= article.admin.full_name %> | <%= article.publication_day.strftime('%d/%m/%Y') %></p>
  			</div>

			</div>
		</a>
		
	<% else %>
		<% if (params[:page] == nil or params[:page] == '1') %>
			<% if index % 2 == 0 %>
				<a href="<%= show_article_path(article) %>" style="text-decoration: none;">
					<div class="wrapper_50" style="padding-left: 10px">
		  			<div class="inner" style="background: url(<%= article.cover.attached?? url_for(article.cover) : asset_url('featured.jpg') %>) no-repeat; background-repeat: no-repeat;
		  background-size: cover; background-position: center">
		  				<div class="title_wraper">
								<h1><%= truncate article.title, length: 40 %></h1>
								<p>By: <%= article.admin.full_name %> | <%= article.publication_day.strftime('%d/%m/%Y') %></p>
			  			</div>
			  			
		  				
		  			</div>
					</div>
				</a>
				
			<% else %>
				<a href="<%= show_article_path(article) %>" style="text-decoration: none;">
					<div class="wrapper_50" style="padding-right: 10px">
		  			<div class="inner" style="background: url(<%= article.cover.attached?? url_for(article.cover) : asset_url('featured.jpg') %>) no-repeat; background-repeat: no-repeat;
		  background-size: cover; background-position: center">
		  				<div class="title_wraper">
								<h1><%= truncate article.title, length: 40 %></h1>
								<p>By: <%= article.admin.full_name %> | <%= article.publication_day.strftime('%d/%m/%Y') %></p>
			  			</div>
			  			
		  				
		  			</div>
					</div>
				</a>
			<% end %>
			
			
		<% else %>
			<% if index % 2 == 0 %>
				<a href="<%= show_article_path(article) %>" style="text-decoration: none;">
					<div class="wrapper_50" style="padding-right: 10px">
		  			<div class="inner" style="background: url(<%= article.cover.attached?? url_for(article.cover) : asset_url('featured.jpg') %>) no-repeat; background-repeat: no-repeat;
		  background-size: cover; background-position: center;">
		  				<div class="title_wraper">
								<h1><%= truncate article.title, length: 40 %></h1>
								<p>By: <%= article.admin.full_name %> | <%= article.publication_day.strftime('%d/%m/%Y') %></p>
			  			</div>
			  			
		  				
		  			</div>
					</div>
				</a>
				
			<% else %>
				<a href="<%= show_article_path(article) %>" style="text-decoration: none;">
					<div class="wrapper_50" style="padding-left: 10px">
		  			<div class="inner" style="background: url(<%= article.cover.attached?? url_for(article.cover) : asset_url('featured.jpg') %>) no-repeat; background-repeat: no-repeat;
		  background-size: cover; background-position: center;">
		  				<div class="title_wraper">
								<h1><%= truncate article.title, length: 40 %></h1>
								<p>By: <%= article.admin.full_name %> | <%= article.publication_day.strftime('%d/%m/%Y') %></p>
			  			</div>
			  			
		  				
		  			</div>
					</div>
				</a>
			<% end %>
		<% end %>
		

	<% end %>

	
<% end %>


<% if @q.result.count < 2 %>
	<div style="margin-bottom: 20rem"></div>
<% end %>


<script type="text/javascript">
	

</script>