<%= render 'shared/action_bar_front.html.erb' %>
<% if admin_signed_in? %>
	<%= render 'shared/side_nav' %>
<% end %>


<div class="container index_articles" >
	<%= render 'articles' %>

</div>

<%= pagy_nav_bootstrap(@pagy).html_safe %>


