<% @title = "#{@article.title}" %>
<% @body_class = "home_show_article" %>

<%= render 'shared/action_bar_front.html.erb' %>
<% if admin_signed_in? %>
	<%= render 'shared/side_nav' %>
<% end %>

<div class="header">
	<div class="container">
		<h2>
			<%= @article.title %>
		</h2>
		
	</div>
</div>

<% if false %>
	<!-- future section with ads  -->
	<div class="container" style="margin-bottom: 5rem">
		<div class="row">
			<div class="col-md-8">
				<div class="article_text">
					<p>
						<b>
							<%= @article.short_desc %>
						</b>
					</p>
					<%= @article.text_compiled.html_safe %>
				</div>
				<% if Rails.env == 'production' %>
					<%= render 'shared/disqus' %>
				<% end %>
				
			</div>
			<div class="col-md-4">
				<div class="p-3">
					<br>
					<h4>Related articles</h4>
					<ul class="list-unstyled mb-0">
						<li><a href="#!">Link</a></li>
						<li><a href="#!">Link</a></li>
						<li><a href="#!">Link</a></li>
						<li><a href="#!">Link</a></li>
						<li><a href="#!">Link</a></li>
						<li><a href="#!">Link</a></li>
						<li><a href="#!">Link</a></li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
	
<% end %>

<div class="container">
	
	<div class="article_text">
		<p class="text-secondary author">
			<%= @article.publication_day.strftime("%B %d, %Y") %> By
			<b>
			 <%= @article.admin.full_name %>
			</b>
		</p>

		<p>
			<b>
				<%= @article.short_desc %>
			</b>
		</p>
		<%= @article.text_compiled.html_safe %>
	</div>
	<% if Rails.env == 'production' %>
		<%= render 'shared/disqus' %>
	<% end %>
</div>
