<div class="action-bar">
	<div class="title" id="menu_btn">
		<i class="fas fa-ellipsis-h fa-lg"></i>
		<a href="<%= request.url %>">
			<%= image_tag 'bits_soup.svg' %>
		</a>
	</div>
	<div class="icons">
	</div>
</div>