<% @title = "Settings" %>

<%= render 'action_bar' %>

<div class="container">
	<h5>Settings</h5>
	<br>
  <%= form_with model: @setting, url: update_settings_path, local: true do |f| %>
  	<div class="form-group">
	  	<%= f.label :name, "Name of the blog" %>
	  	<%= f.text_field :name, class: 'form-control' %>
	  	<small id="emailHelp" class="form-text text-muted">Please provide a name for your blog.</small>
  	</div>


  	<div class="form-group">
	  	<%= f.label :disqus_id, "Disqus short-name" %>
	  	<%= f.text_field :disqus_id, class: 'form-control' %>
	  	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  	</div>

  	<div class="form-group">
	  	<%= f.label :g_analytics, "Google analytics ID" %>
	  	<%= f.text_field :g_analytics, class: 'form-control' %>
	  	<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  	</div>

  	<div class="row col-4">
	  	<%= f.label :post_page, "Articles per page" %>
	  	<%= f.number_field :post_page, class: 'form-control' %>
	  	<small id="emailHelp" class="form-text text-muted">Provide how many default articles per page at root.</small>
  	</div>

		<br>  		
    <%= f.submit "Save", class: "btn btn-primary btn-round" %>


	<% end %>

</div>