<% @title = 'Log in' %>
<% @body_class = 'dashboard' %>

<div class="form-signin">
  <%= image_tag 'bits_soup.svg', size: "130" %>
  <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
  <p class="p_15">© BitsSoup 2018-2019</p>

  
</div>
