.dashboard {
	.container	{
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

}



.panel_box {
	box-shadow: 1px 1px 11px -5px rgba(30, 30, 30, 0.5);
	padding: 1rem 3rem;
	background: white;
	font-size: 0;
	margin-bottom: 1rem;
	h5, span {
		display: inline-block;
	}

	h5 {
		width: 75%;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
	}
	span {
		width:  20%;
		width: 25%;
    font-size: 35px;
    text-align: right;
	}
}


span.link {
	color: #007bff;
	cursor: pointer;
}