
.dashboard {
	background: #f5f5f5;
}

.home_show_article {
	background: #fff;
	color: rgba(0,0,0,0.84);
	.header {
		width: 100%;
    max-width: 100%;
    background: #dbeaf3;
    color: #444;
    padding: 3rem 0;
    h2 {
    	font-weight: 600;
    }
	}
	.article_text {
		font-size: 20px;
		font-weight: 400;
		margin: 29px 0 30px 0;
		pre {
			font-size: 13px;
		}
		li {
			font-family: 'Lora';
		}
		p.author {
			font-family: sans-serif;
		}
		p {
			font-family: 'Lora';
			line-height: 1.8;
			font-size: 19px;
			font-weight: 400;
			// margin-top: 29px;
		}
		h2 {
			font-weight: 600;
			letter-spacing: -1px;
		}
		h3 {
			font-weight: 600; 
			letter-spacing: -1px;
		}
	}
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
	.home_show_article {
		.container {
			width: 820px;
		}
	}
}

