@import url('https://fonts.googleapis.com/css?family=Lora');

body {
	height: 100%;
	transition: padding-top 150ms;
	padding-top: 56px;
	font-family: sans-serif ;
}

h1 {
	font-weight: 600;
}

p {
  font-size: 19px;
  font-weight: 500;
  margin-top: 29px;
}


.notice {
	background: #333;
  padding: 2rem 3rem 2rem 5rem;
  position: fixed;
  bottom: 5rem;
  color: white;
  right: 2rem;
  z-index: 999;
  border-radius: 5px;
  max-width: 35rem;
  .cancel_button {
  	width: 0.9rem;
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    opacity: 0.5;
    &:hover {
    	opacity: 1;
    }
  }
}

.alert_m {
	background: #d04a53;
  padding: 2rem 3rem 2rem 5rem;
  position: fixed;
  bottom: 5rem;
  color: white;
  right: 2rem;
  z-index: 999;
  border-radius: 5px;
  max-width: 35rem;
  .cancel_button {
  	width: 0.9rem;
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    opacity: 0.5;
    &:hover {
    	opacity: 1;
    }
  }
}


.turbolinks-progress-bar {
  height: 3px;
  background-color: #4BAED0;
}

.pagy-nav-boostrap {
  .pagination {
    margin: 0 auto;
  }
}

.blog_footer {
  margin-top: 5rem;

  padding: 1rem 0;
  color: white;
  background-color: #6a6a6a;
  p {
    font-size: 14px;
  }
}


.form-signin {
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto 10rem;
}

.actions .btn {
  margin-top: 2rem;
}

p.p_15 {
  font-size: 15px;
}

.search_form a.btn {
  margin-left: 1rem;
}

.search_form_front {
  margin-right: 2rem;
  input {
    outline: none;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none; 
  }


  input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 4px 14px 10px 10px;
    width: 15px;
    color: transparent;
    cursor: pointer;
    
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
  }
  input[type=search]:focus {
    width: 130px;
    border-color: #ffc107;
    padding-left: 32px;
    color: #333333;
    cursor: auto;
    
    // -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    // -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    // box-shadow: 0 0 5px rgba(109,207,246,.5);
  }
  
  input[type=search]:hover {
    background-color: #fff;
  }
  input:-moz-placeholder {
    color: transparent;
  }
  input::-webkit-input-placeholder {
    color: transparent;
  }
}



.index_nav {
  box-shadow: 1px 1px 11px -5px rgba(30,30,30,0.5);
}

.articles_index {
  .article_img {
    width: 32px;
    height: 32px;
    background: orange;
    border-radius: 4px;
  }

  p {
    margin-top: 0;
    padding-left: 1rem;
  }

  b.title {
    font-size: 16px;
    color: #333;
  }

  i {
    margin-right: 15px;
  }
}
