.home_index {
    background-color: #e9ebee;
    color: white;
}
.index_articles {
  font-size: 0;
  margin-bottom: 2rem;
}

.wrapper_100 {
  
  margin-top: 30px;
  width: 100%;
  position: relative;
  height: 600px;
  border-radius: 4px;
  .title_wraper {
    padding: 2rem;
    background: rgba(10,10,10,0.9);
    color: white;
    position: absolute;
    bottom: 50px;
    max-width: 100%;
    p {
      text-transform: uppercase;
      font-size: 18px;
      margin-top: 0;
    }
  }


}

.wrapper_50 {
 
  display: inline-block;
  position: relative;
  margin-top: 30px;
  width: 50%;
  height: 250px;
  border-radius: 4px;
  // padding: 1rem;
  .inner {
    height: 100%;
    position: relative;
    .title_wraper {
      padding: 1rem;
      background: rgba(10,10,10,0.9);
      color: white;
      position: absolute;
      bottom: 20px;
      max-width: 100%;
      h1 {
        font-size: 1.8rem;
      }
      p {
        text-transform: uppercase;
        font-size: 11px;
        margin-top: 0;
      }
    }
  }

}


// Medium devices (tablets, 768px and down)
@media (max-width: 768px) { 

  .wrapper_50 {
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 10px;
  }

}
