$primary-color: #2196F3;


.action-bar {
	background: white;
	transition: height 150ms;
	width: 100%;
	position: fixed;
	top:0;
	z-index: 999;
	color: rgba(0, 0, 0, 0.9);
	height: 56px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 0px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
	.title {
		display: flex;
		justify-content: center;
		align-items: center;
		h3 {
			font-weight: 400;
			margin: 0;
			user-select: none;
			cursor: pointer;
		}
		img {
			height: 35px;
		}
		i {
			color: rgba(0, 0, 0, 0.7);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			margin: 16px 32px 16px 16px;
			// cursor: pointer;
			user-select: none;
		}
	}
	.icons {
		display: flex;
		justify-content: space-between;
		align-content: center;
		i {
			transition: margin 150ms;
			color: rgba(0, 0, 0, 0.7);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			user-select: none;
			margin: 16px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.side-nav {
	background: white;
	transform: translateX(-330px);
	overflow-x: hidden;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	box-shadow: 1px 0px 10px 0px rgba(30,30,30,0.3);
	transition: all 200ms;
	width: 320px;
	header {
		transition: padding 150ms;
		background: #333333;
		background-size: 320px 180px;
		width: auto;
		.rich-area {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 16px 8px 16px;
			height: 56px;
			.email {
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #fff;
				i {
					border-radius: 50%;
					user-select: none;
					height: 32px;
					width: 32px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
			}
			a {
				font-size: 15px;
				text-decoration: none;
				color: #fff;
				box-shadow: 0, 0, 0;
			}
		}
		.avatars-container {
			padding: 16px 16px 0 16px;
			img {
				user-select: none;
				border-radius: 50%;
			}
		}
	}
	nav {
		ul {
			background-color: #fff;
			padding: 8px 0 0 0;
			margin: 0;
			list-style: none;
			hr {
				background-color: rgba(0, 0, 0, 0.15);
				height: 1.2px;
				border: 0;
			}
			#subheader {
				user-select: none;
				pointer-events: none;
				color: rgba(0, 0, 0, 0.5);
			}
			li {
				user-select: none;
				color: rgba(0, 0, 0, 0.9);
				padding: 0 16px;
				font-weight: 500;
				font-size: 14px;
				cursor: pointer;
				height: 48px;
				display: flex;
				align-items: center;
				margin: 0;
				padding: 0 16px;
				&.active {
					color: $primary-color;
					i {
						color: $primary-color;
					}
				}
				a {
					color: rgba(0, 0, 0, 0.9);

				}
				i {
					color: rgba(0, 0, 0, 0.6);
					padding-right: 15px;
				}
			}
		}
	}
}


// Media queries
@media all and (max-width: 335px) {
	.action-bar {
		.icons {
			i {
				margin: 8px;
			}
		}
	}
}

@media all and (min-width: 960px) {
	body {
		padding-top: 64px;
	}
	.action-bar {
		height: 64px;
		.title {
			i {
				margin: 24px 32px 24px 24px;
			}	
		}
		.icons {
			i {
				margin: 24px;
			}
		}
	}

	
	.side-nav {
		header {
			.rich-area {
				padding: 0 24px 8px 24px;
			}
			.avatars-container {
				padding: 24px 24px 0 24px;
			}
		}
	}
}

@media all and (max-width: 320px) {
	.action-bar {
			height: 56px;
			.title {
				i {
					margin: 0 8px;
				}	
			}
			.icons {
				i {
					margin: 0 6px;
				}
			}
		}
}