<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title><%= @title || 'Dashboard' %></title>
    <link rel="icon" type="image/png" sizes="120x120"  href="<%= asset_url('bitsoup_120.png') %>">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.13/css/all.css", integrity: "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", crossorigin:"anonymous" %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'shared/google_an' %>
  </head>

  <body class="dashboard">
    <% if notice %>
      <div class="notice">
        <%= image_tag 'cancel.svg', class: "cancel_button" %>
        <%= notice %>
      </div>
    <% elsif alert %>
      <div class="alert_m">
        <%= image_tag 'cancel.svg', class: "cancel_button" %>
        <%= alert %>
      </div>
    <% end %>

    <%= render 'shared/side_nav' %>


    <%= yield %>
  </body>
</html>
